.card{
margin-top: 5%;
  width: 70%;
  padding-bottom: 15%;
    background-color: rgba(0, 0, 0, 0.431);
      color: #fff;
      position: relative;
      border-radius: 30px;
    
}

body {font-family: 'Urbanist', sans-serif;
}

h1{
  
font-size: 110px;
font-weight: 00;
position: relative;
color: rgba(247, 220, 206, 0.812);

}

h2 {font-size: 50px;
position: absolute;
color: rgba(247, 220, 206, 0.812);
bottom: 10%;
left:10%;

}

h3{font-size: 50px;
  
}

.time{ color: rgb(155, 88, 88);

}

.row{
  color:#c3a8a7 ;
  font-size: 18px;
}
.button { border: none;
 line-height: 25px;
 margin-left: 5px;

}
.button:hover {
  border: none;
 color: #fff;
 background-color: dimgray;

}

.unitf{ position: absolute;
  bottom: 66%;
  left: 61%;
  font-size: 20px;

}


form{
 position: absolute;
 bottom:5%;
 left:8%;
}

.footer{
font-size: 20px;
 color: rgb(158, 147, 147);
position: relative;
left:10%;
background-color: rgba(18, 17, 17, 0.612);
margin-left: -10%;
padding:10px;
}

.iconic{

  color: #fff;
  size:30px;
}